@font-face {
	font-family: 'typeWriter';
	src : url('source/policeTitre/typewriter.eot');
	src : url('source/policeTitre/typewriter.eot?#iefix') format('embedded-opentype'),
			url('source/policeTitre/typewriter.woff') format('woff'),
			url('source/policeTitre/typewriter.ttf') format('truetype'),
			url('source/policeTitre/typewriter.svg#typeWriter') format('svg');
}

@font-face {
	font-family: 'grecque';
	src : url('source/policeGrec/dalek.eot');
	src : url('source/policeGrec/dalek.eot?#iefix') format('embedded-opentype'),
			url('source/policeGrec/dalek.woff') format('woff'),
			url('source/policeGrec/dalek.ttf') format('truetype'),
			url('source/policeGrec/dalek.svg#grecque') format('svg');
}

@font-face {
	font-family: 'boldPolice';
	src : url('source/policeBold/grobold.eot');
	src : url('source/policeBold/grobold.eot?#iefix') format('embedded-opentype'),
			url('source/policeBold/grobold.woff') format('woff'),
			url('source/policeBold/grobold.ttf') format('truetype'),
			url('source/policeBold/grobold.svg#boldPolice') format('svg');
}

@font-face {
	font-family: 'apple';
	src : url('source/policeApple/applegaramond.eot');
	src : url('source/policeApple/applegaramond.eot?#iefix') format('embedded-opentype'),
			url('source/policeApple/applegaramond.woff') format('woff'),
			url('source/policeApple/applegaramond.ttf') format('truetype'),
			url('source/policeApple/applegaramond.svg#apple') format('svg');
}




body
{
	background: url("source/fond.png") fixed;
}

section
{
	background: rgb(255,255,255);
	width: 70%;
	margin: auto;
	box-shadow: 5px 5px 5px black;
	padding-left: 5px;
	padding-right: 5px;
}

@media all and (max-device-width: 480px) /* Pour les mobiles */
{
  section
  {
    width: 90%;
  }

  body
  {
  	background: url("source/fond.png");
  }
}
a
{
	color:red;
	font-weight: bold;
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline;

}

ul 
{
	list-style-type: hebrew;
}

li
{
	font-family: Times, 'Roman New Times', typewriter, sans-serif;
	font-size:1.1em;
	font-weight: bold;
}

#logo1
{
	width: 80%;
}

.logo
{
	text-align: center;
}



header h1 
{
	color:rgb(73, 143, 255);
	text-align: center;
	font-size: 4.5em;
	font-family: grecque, typeWriter, Times, 'New Times', sans-serif;
}

header h2 
{
	color: rgb(161, 172, 183);
	font-style: italic;
	text-align: center;
	margin:10px;
}

article h1, footer h1
{
	text-decoration:underline;
	font-weight:bold;
	font-size:3em;
	font-family: typeWriter, grecque, Times, sans-serif;
	color: rgb(27, 76, 130);
}

article h2
{
	color:rgb(130, 6, 153);
	text-decoration: underline;
	font-size:2em;
}

article h3
{
	font-weight: bold;
	font-size:1.8em;
	text-align: center;
	font-family:'Arial Black', Arial, sans-serif;
	text-decoration: underline
}



article h5
{
	color: rgb(161, 172, 183);
	font-size:1.2em;
	font-style:italic;
}

aside 
{
	border-radius: 20px;
	width: 90%;
	margin:auto;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
}

aside:hover
{
	box-shadow: 2px 2px 2px black;
}

aside img 
{
	width: 6%;
	position: absolute;
	margin-top: 3px;
	margin-left: 5px;
}

li
{
	margin-top: 6px;
}

#skill
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: auto;
}

.noteH1
{
	color:rgb(183, 188, 184);
	font-size: 0.2em;
	font-family: typeWriter, Times, 'New Times', sans-serif;
	text-decoration: none;
}

.imgSkill
{
	width:40%;
  margin-bottom: 10px;
}


.securite 
{
	text-align: left;
	color:red;
	font-size: 1.3em;

}

ol .underline 
{
	text-decoration: underline;
}

ol .red 
{
	color:rgb(168, 21, 21);
	text-decoration: underline;

}


.statut strong 
{
	font-weight: bold;
	text-decoration: underline;
	color: green;
}


.liste:before 
{
	content: "\A4\ ";
} 

.liste
{
	list-style-type: none;
}

.erreur
{
	color:rgb(48, 198, 21);
	border: 2px rgb(48, 198, 21) solid;
}

.bad 
{
	color:rgb(121, 21, 198);
	border: 2px rgb(121, 21, 198) solid;
}

.A2L
{
	color:rgb(5, 38, 198);
	border: 2px rgb(5, 38, 198) solid;
}

li .titre
{
	font-family: boldPolice, typeWriter, sans-serif;
	text-decoration: underline;
}

li .developing
{
	font-style: italic;
	color:orange;
}

li .pub
{
	color: green;
}

li .testing
{
	color : rgb(5, 198, 62);
}

li .creating
{
	color: red;
	font-style:italic;
}

.lockedUp
{
	color:rgb(21, 153, 198);
	border: 2px rgb(21, 153, 198) solid;
}

header h2
{
	color: rgb(165, 198, 21);
	
}

footer h2
{
	font-family: grecque, typeWriter, sans-serif;
	text-cent
}

footer span
{
	display: flex;
	margin-top: 20px;
}


#contact {
	display: flex;

}

.elementContact
{
	border-top: 2px rgb(198, 72, 13) solid;
	border-right: 2px rgb(198, 72, 13) solid;
	border-left: 2px rgb(198, 72, 13) solid;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 15px;
	margin-bottom: 30px;
}

.elementContact img:hover
{
	box-shadow: 3px 3px 3px black;
	border-radius: 100px;
}

.elementContact:nth-child(1) 
{
<<<<<<< HEAD
	text-align: center;
	flex: 4;
=======
	flex: 2;
>>>>>>> 83e45ae2a0b4771c75eca5a5aa48e85a2af142f7
}

.elementContact:nth-child(2)
{
<<<<<<< HEAD
	text-align: center;
	flex: 3;
=======
	flex: 1;
>>>>>>> 83e45ae2a0b4771c75eca5a5aa48e85a2af142f7
}

.elementContact:nth-child(3)
{
<<<<<<< HEAD
	text-align: center;
=======
>>>>>>> 83e45ae2a0b4771c75eca5a5aa48e85a2af142f7
	flex: 0.8;
}


.elementContact:nth-child(1) img
{
<<<<<<< HEAD
	width: 30%;
=======
	width: 20%;
>>>>>>> 83e45ae2a0b4771c75eca5a5aa48e85a2af142f7
}

.elementContact:nth-child(2) img
{
<<<<<<< HEAD
	width: 40%;
=======
	width: 30%;
>>>>>>> 83e45ae2a0b4771c75eca5a5aa48e85a2af142f7
	margin: auto;
}

footer span img
{
	width: 50%;
}

footer .coeur {
	color:rgb(255, 0, 242);
}

.creator
{
	display:flex;
	width: 30%;
	color:white;
	border: 2px black solid;
	border-radius: 20px;
	background: black;
	margin-left: 70%;
}



.erreur404
{
<<<<<<< HEAD
	font-size:2em;
	text-align: center;
	color:red;
=======
	font-size:4em;
	text-align: center;
	color:green;
>>>>>>> 83e45ae2a0b4771c75eca5a5aa48e85a2af142f7
}




